{% extends 'base.html' %}

{% block content %}

<div class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
      <img
        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
        class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Time Management System</h1>
        <p class="py-6">
            Почніть працювати з найкращою системою управління часом
        </p>
        <button class="btn btn-primary">Переглянути деталі</button>
      </div>
    </div>
  </div>


                
{% endblock %}